@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
.heading {
  font-family: "Poetsen One", sans-serif!important;
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: #f5f5f5; */
  background: linear-gradient(to bottom,#3558FF,#9F1DFF,#FF642C)!important;
    background-size: 100% 200%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  /* background: linear-gradient(to bottom, #ff0000, #00ff00, #0000ff)!important; */

}

/* components */

.fs-100{
    font-size: clamp(1.25rem, -0.2315rem + 7.4074vw, 6.25rem);
    font-weight: 800;
    color: #fff;
    /* text-align: center; */
    text-transform: capitalize;
}

.fs-24{
    font-size: clamp(1rem, 0.8519rem + 0.7407vw, 1.5rem);
    font-weight: 600;
    color: #fff;
    /* text-align: center; */
    text-transform: capitalize;
}   
.fs-45{
    font-size: clamp(1rem, 0.463rem + 2.6852vw, 2.8125rem);
    font-weight: 600;
    color: #fff;
    /* text-align: center; */
    text-transform: capitalize;
}

.primary-btn{
    background: linear-gradient(to right, #81CE00, #00B5FC, #6944FF);
  

    color: #fff;
    border-radius: 12px;
    box-shadow: 0px 38px 48px rgba(0, 0, 0, 0.037);
    padding: 12px 26px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;

}
.primary-btn:hover{
   
    color: #000;
    transition: all 0.5s ease;
    /* transform: scale(1.05); */
    /* box-shadow: inset 0px -100px 0px 0px #fff; */
/* box-shadow: inset 0px -100px 0px 0px #fff; */
    /* background: linear-gradient(to right, #81CE00, #00B5FC, #6944FF);
    background-size: 100% 200%; */
}

.secondary-btn{
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12px;
    /* box-shadow: 0px 38px 48px rgba(0, 0, 0, 0.215); */
    padding: 12px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    background-color: transparent;

}
.secondary-btn:hover{
    /* transform: inset (0px -100px 0px 0px)!important; */
    color: #000;
    transition: all 1s ease;
    box-shadow: inset 0px -100px 0px 0px #fff;
    background-color: #fff;
}



/* navbar */
.navbar{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 38px 48px rgba(0, 0, 0, 0.215);
    border-radius: 12px;
}
.navbar .navbar-brand img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 12px;
}








/* banner */
.banner{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.banner .banner-sub{
  /* margin-top: 50px; */
    height: 50%;
    
    /* width: auto; */
   


    /* padding: 0 20px; */
}

.banner .banner-sub .left-container{
    width: 50%;
    height: 100%;
    /* transform: translateX(-110%); */

    /* margin-bottom: 150px!important; */
   

    margin-left: 50px;
   
    /* padding: 0 20px; */
}
.banner .banner-sub .left-container img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    border-radius: 12px;
}

.banner .banner-sub .left-container p{
    width: 100%!important;
    margin-top: 20px;
    font-size: 96px!important;

}
.banner .banner-sub .right-container{
    /* width: 40%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: start;
    /* overflow-x: hidden; */
     /* transform: translateX(100%); */
    /* padding: 0 20px; */
}
.banner .banner-sub .right-container img{
    width: 100%;
    height: 100%;
    /* height: 15; */
    object-fit: cover;
    object-position: center;

    /* border-radius: 12px; */
    /* margin-bottom: 180px; */
}





.second{
    height: 150vh;
    width: 100%;
    overflow-x: hidden;
}

.second .second-first{
    /* height: 50%;
    width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 38px 48px rgba(0, 0, 0, 0.215);
    border-radius: 12px;
    /* padding: 0 20px; */
}
.second .second-first:hover img{
    transform: translateY(-50%);
    /* height: 500px; */
    /* width: 100%; */
    object-fit: cover;
    object-position: start;
    /* display: none; */
    /* transform: rotate3d(1, 0, 0, 50deg); */
    transition: all 0.7s ease;

}

.second .second-second{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 38px 48px rgba(0, 0, 0, 0.215);
    border-radius: 12px;
    /* padding: 0 20px; */
}
.second .second-third{
    /* height: 50%;
    width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 38px 48px rgba(0, 0, 0, 0.215);
    border-radius: 12px;
    /* padding: 0 20px; */
}
.second img{
   height: 300px;
    /* object-fit: cover; */
    /* object-position: center; */
    /* transform: translateY(-50%); */
    /* border-radius: 12px; */
    /* margin-bottom: 180px; */
}